$primary-color: #00A2DB;
$secondary-color: #ED6B1A;

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  }

.site-title {
    font-weight: 600;
}

h1,
.text-alpha {
  font-weight: 600;
}

.site-title:hover, .nav-list-link:hover  {
background-image: none;
}

.site-header {
    border-bottom: 1px solid #eeebee;
}

.site-button:hover {
    background: $secondary-color;
    color: white;
}

.site-button:hover {
    background: $secondary-color;
    color: white;
}

.btn, .btn-primary, .btn-secondary {
    box-shadow:none;
}

.site-button {
    color: $secondary-color !important;
}

.site-button > .icon {
    color: white !important;
    &:hover {
    color: white !important;
    }
}


