$primary-color: #00A2DB;
$secondary-color: #ED6B1A;

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  }

.site-title {
    font-weight: 600;
    font-size: 18px !important;
}

h1,
.text-alpha {
  font-weight: 600;
}

.site-title:hover, .nav-list-link:hover  {
    background-image: none;
}

.site-header {
    border-bottom: 1px solid #eeebee;
}


.btn-secondary {
  @include btn-color($white, $secondary-color);
}

.btn, .btn-primary, .btn-secondary {
    box-shadow: none;
    font-weight: 600;
    letter-spacing: -0.025rem;
}

.site-button {
    color: $secondary-color !important;
    
    &:hover {
        background: $secondary-color;
        color: white !important;
    }
}

.site-button:hover > .icon {
    color: white !important;
}

.nav-list .nav-list-item .nav-list-link.active {
    background: #f2faff;
    font-weight: normal;
}

.nav-list .nav-list-item .nav-list-link:hover {
    background: lighten(#f2faff, 5%);
}

.nav-list .nav-list-item .nav-list-link a {
    color: $body-color;
}
