$body-font-family: 'Commissioner', sans-serif !default;

$primary-color: #00A2DB;
$secondary-color: #ED6B1A;
$body-color: #001C3D;
$link-color: #00A2DB;

$body-text-color: $body-color;
$body-heading-color: $body-color;
$nav-link-color: $secondary-color;
$sidebar-color: #FFFFFF;

$btn-primary-color: $primary-color;
$btn-secondary-color: $secondary-color;
