$primary-color: #00A2DB;
$secondary-color: #ED6B1A;
$body-color: #001C3D;
$link-color: #00A2DB;

$body-background-color: $white;
$sidebar-color: $white;
$sidebar-color: #FFFFFF;
$body-text-color: $body-color;
$nav-child-link-color: $secondary-color;
$btn-primary-color: $primary-color;
$btn-secondary-color: $secondary-color;
