$body-text-color: #001C3D;
$body-heading-color: #001C3D;

$primary-color: #00A2DB;
$secondary-color: #E84E10;

$body-background-color: $white !default;
$sidebar-color: $white !default;
$feedback-color: darken($sidebar-color, 2%) !default;

$nav-child-link-color: $secondary-color !default;
$link-color: $primary-color !default;
$btn-primary-color: $primary-color !default;
$base-button-color: #f7f7f7 !default;
