$primary-color: #00A2DB;
$secondary-color: #ED6B1A;
$body-color: #001C3D;
$link-color: #00A2DB;

$body-background-color: $white !default;
$sidebar-color: $white !default;
$body-text-color: $body-color !default;
$nav-child-link-color: $secondary-color !default;
$btn-primary-color: $primary-color !default;
