$primary-color: #00A2DB;
$secondary-color: #E84E10;

$body-background-color: $white !default;
$sidebar-color: $white !default;
$search-background-color: $white !default;
$table-background-color: $white !default;

$nav-child-link-color: $secondary-color !default;
$link-color: $primary-color !default;
$btn-primary-color: $primary-color !default;
$base-button-color: #f7f7f7 !default;
